
# -- I G N O R E D  F I L E S -------------------------------------------------

# ignore executables
/csight

# ignore object files
/sources/**/*.o

# ignore dependency files
/sources/**/*.d

# ignore precompiled headers
/includes/**/*.pch

# ignore clangd cache
/.cache

# ignore compile database
/compile_commands.json

# desktop service store (macos)
/**/.DS_Store

# neovim logs
/.nvimlog
