
/* -- all elements -- */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	/* font */
	font-family: 'Space Mono', monospace;

	/* text color */
	color: #B1A6C3;

	/* background color */
	background: #241E26;

}

body {
	/*overflow: hidden;*/
	/*background-color:#99ffca;*/
	/*background-image:*/
	/*radial-gradient(at 33% 29%, hsla(274,100%,54%,1) 0px, transparent 50%),*/
	/*radial-gradient(at 67% 61%, hsla(211,100%,54%,1) 0px, transparent 50%);*/
	/*/* 100% height */*/
	/*height: 100vh;*/
	/*/* 100% width */*/
	/*width: 100vw;*/
}

.wrapper {
	/* border */
	border: 1px solid #392F3C;
	padding: 10px;

	/* rounded corners */
	border-radius: 20px 20px 20px 20px;

	max-width: 1000px;
	width: 100%;
	margin: 10vh auto;
	/* opacity */
	opacity: 0.9;
}

h1 {
	font-size: 2em;
	margin-bottom: 20px;
	text-align:center;
}

input {
	display: none;
}

label {
	display: flex;

	width: 100%;
	height: 50px;

	/* cursor on hover */
	cursor: pointer;

	/* non-selectable text */
	user-select: none;

	/* border */
	border: 1px solid #392F3C;

	/* rounded corners */
	border-radius: 10px 10px 10px 10px;

	/* transition */
	transition: border 1s ease;
}

/* label hover */
label:hover {
	border: 1px solid #392FaC;
}

label div:first-child {
	width: 100%;
	margin: 10px 10px 10px 20px;
	font-size: 1.2em;
}

.content {

	box-sizing: border-box;
	font-size: 0.9em;
	margin: 10px 10px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.1s ease;
}

/*----------tool-tip------------*/

.tip {
	color: #f03768;
	cursor: help;
	position: relative;
	overflow: visible;
	font-family: monospace;
	font-size: 1.3em;
}

.tip:before, .tip:after {
	position: absolute;
	opacity: 0;
	z-index: 9999
	/*transform: translateY(-30%);*/
	transition: .2s;
}

.tip:before {
	content: '';
	border-style: solid;
	border-width: 0.8em 0.5em 0 0.5em;
	border-color: #3E474F transparent transparent transparent;
	transform: translateY(-200%);
	bottom:90%;
	left:50%;
}

.tip:after {
	content: attr(data-tip);
	background: #3E474F;
	color: white;
	width: 150px;
	padding: 10px;
	font-size: 0.8em;
	bottom: 150%;
	left: -50%;
}

.tip:hover:before, .tip:hover:after {
	opacity: 1;
	z-index: 9999
	transform: scaleY(1);
}


/* Highlight.js */


.hljs {
	background: #241E26;
	color: #B1A6C3;
}

/* Gray DOCTYPE selectors like WebKit */
.xml .hljs-meta {
	color: #c0c0c0;
}

.hljs-comment,
.hljs-quote {
	color: #3F6E74;
}

.hljs-tag,
.hljs-attribute,
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-name {
	color: #aa0d91;
}

.hljs-variable,
.hljs-template-variable {
	color: #3F6E74;
}

.hljs-code,
.hljs-string,
.hljs-meta .hljs-string {
	color: #829;
}

.hljs-regexp,
.hljs-link {
	color: #0E0EFF;
}

.hljs-title,
.hljs-symbol,
.hljs-bullet,
.hljs-number {
	color: #1c00cf;
}

.hljs-section,
.hljs-meta {
	color: #643820;
}


.hljs-title.class_,
.hljs-class .hljs-title,
.hljs-type,
.hljs-built_in,
.hljs-params {
	color: #5c2699;
}

.hljs-attr {
	color: #836C28;
}

.hljs-subst {
	color: #000;
}

.hljs-formula {
	background-color: #eee;
	font-style: italic;
}

.hljs-addition {
	background-color: #baeeba;
}

.hljs-deletion {
	background-color: #ffc8bd;
}

.hljs-selector-id,
.hljs-selector-class {
	color: #9b703f;
}

.hljs-doctag,
.hljs-strong {
	font-weight: bold;
}

.hljs-emphasis {
	font-style: italic;
}
